body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
}

.circle {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    position: absolute;
}

.circle:first-of-type {
    top: 50vh;
    left: 25vw;
    background-color: red;
}

.circle:nth-of-type(2) {
    top: 50vh;
    left: 75vw;
    background-color: blue;
}

.circle:nth-of-type(3) {
    top: 50vh;
    left: 75vw;
    background-color: green;
}